VITE_SUPABASE_URL=https://oaimgixiwnkmoeuozxqt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9haW1naXhpd25rbW9ldW96eHF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk2MjYzODgsImV4cCI6MjA4NTIwMjM4OH0.V5PFhZhE7itXxzrs9Mx0p0H5ZNCFZEyDmHHQdzvYFU